body {
    display: flex;
    justify-content: space-evenly;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.middle-container {
    width: 450px;
    height: 450px;
}
.container {
    width: 200px;
    height: 500px;
    position: relative;
}
#board {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-right: auto;
    margin-left: auto;
}
div.tile {
    justify-content: center;
    margin: 5px;
    padding: 10px;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    position: relative;
}

.dice-container {
    padding-top: 300px;
}

.ladders {
    position: absolute;
    top: 35px;
    right: 0;
}

.snakes {
    position: absolute;
    top: 40px;
    right: 35px;
}

#Rabbit {
    position: absolute;
    z-index: 1;
    bottom: 1px;
    left: 15px;
}

#Moose {
    position: absolute;
    z-index: 1;
    right: 25px;
    bottom: 3px;
}

.snl {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#start-arrow {
    width: 90px;
    height: 70px;
    position: relative;
    left: 200px;
    top: 520px;
    animation: sideToSide 2s infinite;
    animation-direction: normal;
}

@keyframes sideToSide {
    0%   {left: 200px; top: 520px;}
    50%  {left: 150px; top: 520px;}
    100% {left: 200px; top: 520px;}
}

#dice {
    width: 100px;
    height: 100px;
    animation: rotation 3s infinite linear;
    display: block;
    margin: auto;
}

#current-moves {
    padding-top: 10px;
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: 'Schoolbell';
    font-weight: bold;
}

/* @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } */


#finish {
    position: absolute;
    z-index: 1;
    left: -10px;
    bottom: 3px;
}

#score-left{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: 'Schoolbell';
    font-weight: bold;
}

#score-right{
    padding-top: 75px;
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: 'Schoolbell';
    font-weight: bold;
}